/* EditorComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
  margin: 15px;
}
button {
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  margin: 10px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
h3{
  color: #007bff;
}
h5{
  color: #003991;
}
