<!--страница detail, обновление задачи-->

<div *ngIf="task">
  <h3>{{task.taskName | uppercase}} {{ 'HOME.details' | translate }}</h3>
  <hr>
  <h5><span>id: </span>{{task.id}}</h5>
  <div>
    <label for="task-name">{{ 'HOME.taskName' | translate }}: </label>
    <input id="task-name" [(ngModel)]="task.taskName" placeholder="Task name"/><br>

    <label for="task-condition">{{ 'HOME.taskCondition' | translate }}: </label>
    <input id="task-condition" [(ngModel)]="task.taskCondition" placeholder="Task condition"/><br>

    <label for="task-topic">{{ 'HOME.taskTopic' | translate }}: </label>
    <input id="task-topic" [(ngModel)]="task.taskTopic" placeholder="Task topic"/><br>

    <label for="tags">{{ 'HOME.tags' | translate }}: </label>
    <input id="tags" [(ngModel)]="task.tags" placeholder="tags"/><br>

    <label for="answerOptions">{{ 'HOME.answer' | translate }}: </label>
    <input id="answerOptions" [(ngModel)]="task.answerOptions" placeholder="answerOptions"/><br>

    <label for="rightSolution">{{ 'HOME.right' | translate }}: </label>
    <input id="rightSolution" [(ngModel)]="task.rightSolution" placeholder="rightSolution"/><br>

  </div>
  <button (click)="goBack()">{{ 'HOME.back' | translate }}</button>
  <button (click)="save()">{{ 'HOME.save' | translate }}</button>
</div>
