<div class="button">
<button (click)="translate.use('ru')"><img src="assets/img/ruFlag.png">{{ 'BUTTON.LANG.RU' | translate }}</button>
<button (click)="translate.use('en')"><img src="assets/img/enFlag.png">{{ 'BUTTON.LANG.EN' | translate }}</button>
</div>
<br>

<nav>

</nav>
<router-outlet></router-outlet>
<hr>
<nav>
  <ul class="nav navbar-nav navbar-right" *ngIf="!authService.isTokenExpired()">
    <li><a routerLink="/login" (click)="logout()">{{ 'HOME.logOut' | translate }}</a></li>
  </ul>
</nav>
