<!--страница add, создание задачи-->
<div *ngIf="task">
  <h3>{{task.taskName | uppercase}} {{ 'HOME.details' | translate }}</h3>
  <div>

    <label for="task-name">{{ 'HOME.taskName' | translate }}: </label>
    <input id="task-name" [(ngModel)]="task.taskName" placeholder="{{ 'HOME.taskName' | translate }}"/><br>

    <label for="task-condition">{{ 'HOME.taskCondition' | translate }}: </label>
    <input id="task-condition" [(ngModel)]="task.taskCondition" placeholder="{{ 'HOME.taskCondition' | translate }}"/><br>

    <label for="task-topic">{{ 'HOME.taskTopic' | translate }}: </label>
    <input id="task-topic" [(ngModel)]="task.taskTopic" placeholder="{{ 'HOME.taskTopic' | translate }}"/><br>

    <label for="tags">{{ 'HOME.tags' | translate }}: </label>
    <input id="tags" [(ngModel)]="task.tags" placeholder="{{ 'HOME.tags' | translate }}"/><br>

    <label for="answerOptions">{{ 'HOME.answer' | translate }}: </label>
    <input id="answerOptions" [(ngModel)]="task.answerOptions" placeholder="{{ 'HOME.answer' | translate }}"/><br>

    <label for="rightSolution">{{ 'HOME.right' | translate }}: </label>
    <input id="rightSolution" [(ngModel)]="task.rightSolution" placeholder="{{ 'HOME.right' | translate }}"/><br>

  </div>
  <button (click)="goBack()">{{ 'HOME.back' | translate }}</button>
  <button (click)="add()">{{ 'HOME.save' | translate }}</button>
</div>
