<!--страница view, просмотр задачи-->
<div *ngIf="task">
  <h3>{{task.taskName | uppercase}} {{ 'HOME.viewing' | translate }}</h3>
  <hr>
  <div>
    <p>{{ 'HOME.taskName' | translate }}: {{task.taskName}}</p>
    <p>{{ 'HOME.taskCondition' | translate }}: {{task.taskCondition}}</p>
    <p>{{ 'HOME.taskTopic' | translate }}: {{task.taskTopic}}</p>
    <p>{{ 'HOME.tags' | translate }}: {{task.tags}}</p>
    <p>{{ 'HOME.answer' | translate }}: {{task.answerOptions}}</p>
    <p>{{ 'HOME.overallRating' | translate }}: {{task.rating}} <img src="assets/img/star.jpg"></p>

  </div>

  {{ 'HOME.setRating' | translate }}:
  <ng-template #t let-fill="fill">
  <span class="star" [class.full]="fill === 100">
    <span class="half" [style.width.%]="fill">&bigstar;</span>&bigstar;
  </span>
  </ng-template>
  <ngb-rating [(ngModel)]="rating.rating" [starTemplate]="t"  [max]="5" (click)="setRating()"></ngb-rating>


  <div>
    <label for="task-answer">{{ 'HOME.yourAnswer' | translate }}: </label>
    <input id="task-answer" [(ngModel)]="answer.answer" placeholder="{{ 'HOME.yourAnswer' | translate }}"/>
    <button (click)="setAnswer()">{{ 'HOME.solution' | translate }}</button>
  </div>
  <button (click)="goBack()">{{ 'HOME.back' | translate }}</button>

</div>
