/* EditorComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
  margin: 15px;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
h3{
  color: #007bff;
}
.star {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  color: #d3d3d3;

}
.full {
  color: yellow;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: yellow;
}
