<h2>Main Page</h2>
<nav>
  <a routerLink="/personalPage">Personal page</a>
  <a routerLink="/mainPage">Main page</a>
</nav>
<app-task-search></app-task-search>
<hr>



<ul class="tasks">
  <h3>Last created tasks</h3>
  <br><br>
  <li *ngFor="let task of tasks1">

      <span class="badge">{{task.id}}</span>{{task.user.name}} {{task.taskName}} {{task.taskCondition}} {{task.taskTopic}} {{task.tags}} {{task.answerOptions}} {{task.rating}}

    <button class="view" title="view">
      <a routerLink="/view/{{task.id}}">
        View
      </a>
    </button>
    <br><br>
  </li>
</ul>
<br><hr><br><br>
<ul class="tasks">
  <h3>Top rated tasks</h3>
  <br><br>
  <li *ngFor="let task of tasks2">

    <span class="badge">{{task.id}}</span>{{task.user.name}} {{task.taskName}} {{task.taskCondition}} {{task.taskTopic}} {{task.tags}} {{task.answerOptions}} {{task.rating}}
    <button class="view" title="view">
      <a routerLink="/view/{{task.id}}">
        View
      </a>
    </button>
    <br><br>
  </li>

</ul>


